<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>232491019013-o3k49l7q776jq99tjfia33hof5ar6sot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.232491019013-o3k49l7q776jq99tjfia33hof5ar6sot</string>
	<key>API_KEY</key>
	<string>AIzaSyC7MsPTmL02IiZBOYOVHx47Wm6A2ocpcS0</string>
	<key>GCM_SENDER_ID</key>
	<string>232491019013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.instadent.instadent</string>
	<key>PROJECT_ID</key>
	<string>instadent-9fa8d</string>
	<key>STORAGE_BUCKET</key>
	<string>instadent-9fa8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:232491019013:ios:96df7ce1b1bd605a73e56c</string>
</dict>
</plist>